# Vim/Nvim plugin folders
nvim/plugged/
nvim/autoload/
vim/autoload/

# VSCodium folders
vscodium/*
!vscodium/product.json
!vscodium/User
vscodium/User/*
!vscodium/User/keybindings.json
!vscodium/User/settings.json

# Termux files
termux/shell
