# Vim/Nvim plugin folders
nvim/plugged/
nvim/plugin/
nvim/autoload/
nvim/spell/
vim/autoload/
nvim/lazy-lock.json

# VSCodium folders
vscodium/*
!vscodium/product.json
!vscodium/User
vscodium/User/*
!vscodium/User/keybindings.json
!vscodium/User/settings.json

# Termux files
termux/shell

# Qutebrowser
qutebrowser/*
!qutebrowser/config.py
!qutebrowser/autoconfig.yml

# cmus
cmus/*
!cmus/onedark.theme
