# Lua
.luarc.json

# Vim/Nvim plugin folders
nvim/plugged/
nvim/plugin/
nvim/autoload/
nvim/spell/*
!nvim/spell/en.utf-8.add
vim/autoload/
nvim/lazy-lock.json

# VSCodium folders
vscodium/*
!vscodium/product.json
!vscodium/User
vscodium/User/*
!vscodium/User/keybindings.json
!vscodium/User/settings.json

# Termux files
termux/shell

# Qutebrowser
browser/qutebrowser/*
!browser/qutebrowser/qutebrowser-themes
!browser/qutebrowser/config.py
!browser/qutebrowser/autoconfig.yml
!browser/qutebrowser/quickmarks

# Userscript dependencies
browser/userscript/requires/*

# cmus
cmus/*
!cmus/onedark.theme

# ytui_music
ytui_music/storage.db3

# spotify-player
spotify-player

# mutt
mutt/*
