[Desktop Entry]
Version=1.0
Name=OpenViBE Designer
Comment=Create and design OpenViBE circuits
Keywords=OpenViBE;BCI;EEG
Exec=openvibe-designer
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=openvibe
